<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>STEAM Projects</title>

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{site.revealurl}}/css/reveal.css">
    <link rel="stylesheet" href="{{site.revealurl}}/css/theme/serif.css">
    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="{{site.revealurl}}/lib/css/zenburn.css">
    <!-- Printing and PDF exports -->
    <script>
    var link = document.createElement('link');
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match(/print-pdf/gi) ? '{{site.revealurl}}/css/print/pdf.css' : '{{site.revealurl}}/css/print/paper.css';
    document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <style>
        #people {
            margin:auto;
        }
    </style>
</head>

<body>

    {% include backtopeople.html %}

    <div class="reveal">
        <div class="slides">
